.chat-bot {
  font-size: 16px;
  position: fixed;
  display: flex;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background-color: transparent;
    scrollbar-width: thin;
    scrollbar-color: #cccccc transparent;
    scroll-behavior: smooth;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #cccccc;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  .overflow-hidden {
    overflow: hidden;
  }
  .font-bold {
    font-family: openSansBold;
    font-weight: 700;
  }

  .bg-primary {
    background-color: #632ae8;
  }
  .bg-secondary {
    background-color: #eeeeee;
  }
  .text-primary {
    color: #632ae8;
  }
  .text-secondary {
    color: #eeeeee;
  }
  .bg-white {
    background-color: rgb(255 255 255);
  }
  .text-white {
    color: rgb(255, 255, 255);
  }
  .flex {
    display: flex !important;
  }
  .items-center {
    align-items: center;
  }
  .items-end {
    align-items: flex-end;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-between {
    justify-content: space-between;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .rounded {
    border-radius: 16px;
  }
  .rounded-full {
    border-radius: 9999px;
  }
  .rounded-tl-none {
    border-top-left-radius: 0px;
  }
  .rounded-tr-none {
    border-top-right-radius: 0px;
  }
  .rounded-md {
    border-radius: 12px;
  }
  .bg-opacity-15 {
    background-color: rgb(238 238 238 / 15%);
  }
  input:focus-visible {
    outline: unset;
  }
  input::placeholder {
    color: #eeeeee;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
  }
  .mt-10 {
    margin-top: 2.5rem /* 40px */;
  }
  .m-1 {
    margin: 0.25rem /* 4px */;
  }
  .mt-2 {
    margin-top: 0.5rem /* 8px */;
  }
  .mt-5 {
    margin-top: 1.25rem /* 20px */;
  }
  .text-xs {
    font-size: 0.75rem /* 12px */;
    line-height: 1rem /* 16px */;
  }
  .ms-1 {
    margin-inline-start: 0.25rem /* 4px */;
  }
  .mt-0 {
    margin-top: 0px;
  }
  .flex-row-reverse {
    flex-direction: row-reverse;
  }
  .self-end {
    align-self: flex-end;
  }
  .py-1 {
    padding-top: 0.25rem /* 4px */;
    padding-bottom: 0.25rem /* 4px */;
  }
  .bg-opacity-10 {
    background: #ffffff45;
  }
  .p-1 {
    padding: 0.25rem /* 4px */;
  }
  .p-2 {
    padding: 0.5rem /* 8px */;
  }
  .px-2 {
    padding-left: 0.5rem /* 8px */;
    padding-right: 0.5rem /* 8px */;
  }
  .p-3 {
    padding: 0.75rem /* 12px */;
  }
  .px-5 {
    padding-left: 1.25rem /* 20px */;
    padding-right: 1.25rem /* 20px */;
  }
  .mx-2 {
    margin-left: 0.5rem /* 8px */;
    margin-right: 0.5rem /* 8px */;
  }
  .w-60 {
    width: 60%;
  }
  .gap-5 {
    gap: 1.25rem /* 20px */;
  }
  .absolute {
    position: absolute;
  }
  .flex-col {
    flex-direction: column;
  }
  .h-full {
    height: 100%;
  }
  .w-full {
    width: 100%;
  }
  .flex-grow {
    flex-grow: 1;
  }
  .rounded-sm {
    border-radius: 8px;
  }
  .bg-transparent {
    background-color: transparent;
  }
  .ml-1 {
    margin-left: 0.25rem /* 4px */;
  }
  button,
  [type="button"],
  [type="reset"],
  [type="submit"],
  input {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
    text-transform: none;
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
    border: none;
  }
  .open-chat {
    width: 20px;
    height: 20px;
  }
  .chatbot-container {
    bottom: 38px;
    height: 400px;
    outline-style: solid;
    outline-offset: -1px;
    outline-color: #632ae8;
    background-color: rgb(252 252 252);
    &.rtl {
      // direction = right
      right: 38px;
    }
    &.ltr {
      //  direction = left
      left: 38px;
    }
    &.true {
      //if fullscreen is true
      width: 60vw;
      height: 90vh;
      font-size: 16px;
      @media screen and (max-width: 768px) {
        width: 80dvw;
        height: 90dvh;
      }
    }
    &.false {
      //if fullscreen is false
      width: 230px;
      font-size: 12px;
    }
    .welcome {
      background: linear-gradient(40deg, #632ae8 30%, white);
      background-size: 400% 200%;
      animation: welcome-animation 2s forwards;
      left: 0;
      top: 0;
      z-index: 10;
      white-space: nowrap;
      @keyframes welcome-animation {
        0% {
          background-position: 100% 20%;
        }

        100% {
          background-position: 0% 80%;
        }
      }
      .close-chat {
        left: 5px;
        top: 5px;
      }
    }
    .chat-messages {
      margin: 0 2px;
      padding: 0 2px 1rem;

      align-items: flex-start;
      gap: 20px;
      overflow: auto;
      scroll-behavior: smooth;
      overflow-wrap: break-word;
    }
    .file-picker {
      width: 20px;
      position: relative;
      .input-file-picker {
        top: -40px;
        left: 0px;
        height: 100px;
        width: 100px;
        opacity: 0;
      }
    }
  }
}
